<div class="col s12 m3">
  <div class="card teal lighten-1">
    <div class="card-content white-text">
      <span class="card-title"><%= @product['name'] %></span>
      <p>
        <%= @product['description'] %>
      </p>
    </div>
    <div class="card-action">
      <a href="#">This is a link</a>
      <a href="#">This is a link</a>
    </div>
  </div>
</div>
