<nav>
  <div class="nav-wrapper teal">
    <a href="/" class="brand-logo">Product Store</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a id='new_product' href="sass.html">New Product</a></li>
    </ul>
  </div>
</nav>

<div class='center'>
  <h1>Products Store</h1>
  <br />
  
  <div class='container'>
    <div class='left'>
      <form id='product_edit_form' class='hide'>
        <input type='text' name='product[name]' id='product_name' placeholder="Product Name" />
        <input type='number' name='product[base_price]' id='product_base_price' placeholder="Base Price" />
        <input type='text' name='product[description]' id='product_description' placeholder="Description" />
        <input type='text' name='product[quanity_on_hand]' id='product_quantity_on_hand' placeholder="Quantity on hand" />
        <input type='text' name='product[color]' id='product_color' placeholder="Color" />
        <input type='text' name='product[weight]' id='product_weight' placeholder="Weight" />
        <input type='text' name='product[other_attributes]' id='product__other_attributes' placeholder="Other attributes" />

        <input type='submit' />
      </form>
    </div>
   </div> 

  <div id='products' class ='row'>
  </div>
</div>